<%- include('../partials/header.ejs') %> 

<title>create list</title>

<%- include('../partials/form1header.ejs') %>
    <h3
    class="display-5"
    >create a list</h3>
    <form action="/lists" 
    method="POST"
    class="lead form-margin">
        <fieldset
        class="my-4">        
            name: 
            <input 
            type="text" 
            name="name"
            class="form-control" placeholder="new list name"> <br/>
        </fieldset>
        <fieldset
        class="my-4">
        submitted by: 
        <input 
        type="text" 
        name="submittedBy"
        class="form-control" placeholder="your name"> <br/>
        </fieldset>
        <fieldset
        class="my-4">
            <input 
            type="submit" 
            value="create list"
            class="form-control btn btn-dark btn-l">
        </fieldset>
    </form>
<%- include('../partials/form1footer.ejs') %>  
<%- include('../partials/footer.ejs') %>  