<!DOCTYPE html>
<html lang="en">

<head>
    <nav>
        <a href="/about">about</a>
        <a href="/movies">movies</a>
        <a href="/lists">lists</a>
        <a href="/users/register">register</a>
        <a href="/users/login">login</a>
        <a href="/movies/new">new movie</a>
        <a href="/lists/new">new list</a>
        <a href="/movies/seed">seed</a>
    </nav>
</head>
<body>
