/* 
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */


body {
    background-color:rgb(99, 148, 180);
    /* background-image: url('/css/imgs/body-bkg.jpg'); */
    opacity: .90;
    
}

h1 {
    color: cornsilk;
}

h4 {
    color: whitesmoke;
}

th {
    color: rgb(255, 97, 216);
    font-size:medium;
}

td {
    color:orange;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;   
}

a {
    color: cyan;
}

/* FORMS */
.form-cont {
    /* background-color:grey; */
    /* background-image: url('imgs/body-bkg.jpg');
    opacity: 0.5; */
    margin: 40px;
    border: solid 2px black;
    border-radius: 20px;
}

form {
    margin: 40px;
}

.display-4 {
    margin: 40px
}