/* 
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */


body {
    background-color:rgb(99, 148, 180);
    /* background-image: url('/css/imgs/body-bkg.jpg'); */
    opacity: .90;
}

.bkg-img {
}

h1 {
    color: cornsilk;
}

h4 {
    color: whitesmoke;
}

th {
    color: rgb(255, 97, 216);
    font-size:medium;
}

td {
    color:orange;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;   
}

a {
    color: cyan;
}

/* FORMS */
