<%- include('../partials/header.ejs') %> 
<title>register</title>    

<div class="jumbotron jumbotron-fluid position-relative d-flex">
    <div class="container form-row d-flex justify-content-center">
        <div class="col-md-4 form-cont" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(../../css/imgs/body-bkg.jpg)">
            <h1 class="display-4">register</h1>
            <form action="/users/register"
            method="POST" class="lead">
                <fieldset class="my-4">
                    <label for="username">Username:</label>
                    <input type="text" 
                    class="form-control"
                    name="username" 
                    id="username">
                </fieldset>
                <fieldset class="my-4">
                    <label for="password">Password:</label>
                    <input type="password"
                    name="password" 
                    id="password" 
                    class="form-control">
                </fieldset>
                <fieldset class="my-4">
                    <label for="verifyPassword">Verify Password:</label>
                    <input type="password"
                    name="verifyPassword"
                    id="verifyPassword" 
                    class="form-control">
                </fieldset>
                <input type="submit" value="Sign Up" class="btn btn-secondary btn-lg" >
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>  