<%- include('../partials/header.ejs') %> 
<title>register</title>    

<%- include('../partials/form1header.ejs') %>
            <h1 
            class="display-4"
            >register</h1>
            <form 
            action="/users/register"
            method="POST" 
            class="lead">
                <fieldset 
                class="my-4">
                    <label 
                    for="username"
                    >Username:</label>
                    <input 
                    type="text" 
                    class="form-control"
                    name="username" 
                    id="username">
                </fieldset>
                <fieldset 
                class="my-4">
                    <label 
                    for="password"
                    >Password:</label>
                    <input type="password"
                    name="password" 
                    id="password" 
                    class="form-control">
                </fieldset>
                <fieldset 
                class="my-4">
                    <label for="verifyPassword">Verify Password:</label>
                    <input type="password"
                    name="verifyPassword"
                    id="verifyPassword" 
                    class="form-control">
                </fieldset>
                <input 
                type="submit" value="Sign Up" class="btn btn-secondary btn-lg" >
            </form>

<%- include('../partials/form1footer.ejs') %>  
<%- include('../partials/footer.ejs') %>  